<div id="detail" class="page-layout carded fullwidth inner-scroll">
    <!-- Top Background -->
    <div class="top-bg accent"></div>
    <!-- ./Top Background -->

    <!-- Center -->
    <div class="center">

        <!-- Header -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <!-- View Title -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="''">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <div fxLayout="column" fxLayoutAlign="start start">
                    <div class="h2">
                        {{'Simple Form'}}
                    </div>
                </div>
            </div><!-- ./View Title -->
        </div><!-- ./Header -->

        <!-- Content Card -->
        <div class="content-card">

            <!-- Content -->
            <div class="content">
                <!-- Customer Detail Form -->
                <div class="tab-content p-24" fusePerfectScrollbar>
                    <form name="userForm" [formGroup]="userForm" *ngIf="userForm" class="general w-100-p " fxLayout="column" fxFlex>

                        <!-- First Name Field -->
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-form-field appearance="outline" class="w-100-p" fxFlex="100">
                                <mat-label>{{'First Name'}}</mat-label>
                                <input
                                    id="firstName"
                                    matInput
                                    placeholder="First Name"
                                    required
                                    formControlName="firstName">
                            </mat-form-field>
                        </div><!-- ./First Name Field -->

                        <!-- Last Name Field -->
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-form-field appearance="outline" class="w-100-p" fxFlex="100">
                                <mat-label>{{'Last Name'}}</mat-label>
                                <input
                                    id="lastName"
                                    matInput
                                    placeholder="Last Name"
                                    required
                                    formControlName="lastName">
                            </mat-form-field>
                        </div><!-- ./Last Name Field -->

                        <!-- Email Field -->
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-form-field appearance="outline" class="w-100-p" fxFlex="100">
                                <mat-label>{{'Email'}}</mat-label>
                                <input
                                    id="email"
                                    matInput
                                    placeholder="Email"
                                    formControlName="email">
                            </mat-form-field>
                        </div><!-- ./Email Field -->

                        <!-- Address Field -->
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-form-field appearance="outline" class="w-100-p" fxFlex="100">
                                <mat-label>{{'Address'}}</mat-label>
                                <input
                                    id="address"
                                    matInput
                                    placeholder="Address"
                                    formControlName="address">
                            </mat-form-field>
                        </div><!-- ./Address Field -->

                        <!-- Button -->
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <button
                                id="submitButton"
                                [disabled]="userForm?.disabled || userForm?.invalid"
                                (click)="saveUser()"
                                mat-raised-button
                                color="primary">Submit</button>
                        </div>
                        <!-- ./Button -->

                    </form>
                </div>
            </div> <!-- ./Content -->
        </div>  <!-- ./Content Card -->
    </div><!-- ./Center -->
</div>
