<div class="page-layout blank p-24 text-center" fusePerfectScrollbar>
    <h2>{{'SAMPLE.TEST' | translate}}</h2><br>
    <button
        class="redirectionButton"
        mat-raised-button
        color="primary"
        (click)="redirect()">Click me , to change the Page</button>
</div>
